<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>playground2</title>
    <style>
            body {
                background-color: LightBlue;
            }
            h1 {
                color: maroon;
                
            } 
            .box1{
                width: 100px;
                height: 100px;
                background-color: {{color}};
                border: 1px solid black;
                margin: 20px;
                display: inline-block;
               
            }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    {% for x in range(0,y) %}
    <div class="box1">box1</div>
    {% endfor %}
    
</body>
</html>